server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**
        - id: workout-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/workouts/**
        - id: progress-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/progress/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway